body {
  background-image:url('banoi.jpg'); 
  font-family:Courier New; 
  color:red;
}
header{
  height:25%;
  display:block;
  border-bottom:1px solid red;
}
nav{
  padding-top:10px;
  font-size:20px;
  height:40px;
  display:block;
  border-bottom:1px solid red;
}

aside{
  width:25%;
  height:500px;
  border-right:1px solid red;
  float:left;
}
section{
  width:75%;
  height:500px;
}

footer{
  height:50px;
  border-top:1px solid red;
  text-align:center;
}
